# Archivos de configuración sensibles
.env
.env.*.local

# Dependencias
/vendor/
node_modules/

# Archivos del sistema
.DS_Store
.github.md
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
