body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0B3C5D; 
    color: #D4AF37;           
    padding: 20px;
    text-align: center;
}

header nav a {
    color: #D4AF37;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    transition: 0.3s;
}

header nav a:hover {
    color: #fff;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.titulo-dashboard {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8rem;
    color: #0B3C5D;
}


.opciones-admin {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card-grupo {
    background: #0B3C5D;
    color: #D4AF37;
    padding: 25px 40px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    transition: transform 0.2s, background 0.3s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.card-grupo:hover {
    background: #1E5F8A;
    color: #fff;
    transform: translateY(-5px);
}
