RewriteEngine On
<IfModule mod_headers.c>
    <FilesMatch "\.(css|js|mjs)$">
        Header set Cache-Control "no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires "0"
    </FilesMatch>
</IfModule>
# Si lo que piden no es un archivo real...
RewriteCond %{REQUEST_FILENAME} !-f
# Y tampoco es una carpeta real...
RewriteCond %{REQUEST_FILENAME} !-d
# ...mándalo TODO al index.php que está aquí mismo
RewriteRule ^(.*)$ index.php [QSA,L]    