.asiento.ocupado {
  background-color: #111167;
  color: white;
}

.asiento.confirmado {
  background-color: #4CAF50;
  color: white;
}

.asiento.escaneado {
  background-color: #1565c0;
  color: white;
}

.asiento.disponible {
  background-color: #5c5c5c;
  opacity: 0.85;
  color: white;
}
